html, body.ui-mobile-viewport.ui-overlay-b {
  background-color: #333;
}

.ui-page {
  max-width: 480px;
  background-image: url("images/tile-grey.png");
  background-repeat: repeat;
  box-shadow: 0 0 54px 0 #000;
}

@media only screen and (min-width: 721px) {
  .ui-page {
    padding: 20px;
    padding-top: 2px;
    border-radius: 0 0 3px 3px;
    margin-left: 200px;
  }
  #info {
    display: none;
  }
  #howitworks a {
    font-size: 12pt;
  }
}

#overlay {
  padding-top: 10%;
  text-align: center;
  font-family: "Gill Sans", "Helvetica", "Arial", sans-serif;
  color: #fff;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.9;
  z-index: 9999999;
}

#navbar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background-image: linear-gradient(top, #444, #111);
  background-image: -webkit-linear-gradient(top, #444, #111);
  background-image: -o-linear-gradient(top, #444, #111);
  padding: 12px;
  padding-left: 43px;
  font-family: "Gill Sans", "Helvetica", "Arial", sans-serif;
}

#navbar-logo {
  margin-left: 8px;
  font-weight: bold;
  font-size: 19px;
  color: #396B9E;
  text-shadow: 1px 0 #000;
}

#navbar-logo-subtext {
  margin-left: 26px;
  color: #999;
  font-size: 8pt;
  text-shadow: 1px 0 #000;
}

#explanation {
  position: fixed;
  left: 30px;
  top: 66px;
  width: 140px;
  font-family: "Gill Sans", "Helvetica", "Arial", sans-serif;
  font-size: 10pt;
  text-align: center;
  text-shadow: 1px 0 #000;
  color: #999;
}

@media only screen and (max-width: 720px) {
  #navbar {
    display: none;
  }
}

.ui-content {
  margin-top: -8px;
}

input.ui-input-text, textarea.ui-input-text, .ui-input-search {
  background-color: #fff;
}

#captcha-image {
  margin-top: 8px;
  margin-bottom: 9px;
  padding: 4px;
  border: 1px solid #999;
  border-radius: 9px;
  width: 87%;
  height: 26px;
  background-color: #fff;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, .2);
}

#info {
  text-align: center;
  font-family: "Gill Sans", "Helvetica", "Arial", sans-serif;
}

#howitworks {
  font-size: 10pt;
  font-family: "Gill Sans", "Helvetica", "Arial", sans-serif;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}

#howitworks-teaser {
}

#howitworks a {
  color: #222;
  font-weight: normal;
}

@media only screen and (min-width: 720px) {
  #howitworks a {
    font-size: 10pt;
    text-shadow: 1px 0 #000;
    position: fixed;
    left: 45px;
    top: 387px;
    color: #aaa;
  }
}

#logo {
  margin-top: 118px;
  font-weight: bold;
  font-size: 19px;
  color: #396B9E;
}

#logo-subtext {
  color: #666;
  font-size: 8pt;
}

#dossier-content {
  height: 195px;
}

