body {
	background-color: #ddd;
}

#content {
	/*background-color: #ddd;*/
	margin-top: 30px;
	box-shadow: 0px 0px 16px 3px #ccc;
}

#statuslabel {
}

#savebutton {
	margin-right: 10px;
}

.input-xlarge {
	width: 98%;
}
