#captcha-image {
  margin-top: 8px;
  margin-bottom: 9px;
  padding: 4px;
  border: 1px solid #999;
  border-radius: 9px;
  width: 87%;
  height: 24px;
  background-color: #F3F3F3;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, .2);
}

