.navbar .brand {
  font-family: "Gill Sans", "Helvetica", "Arial", sans-serif;
  font-size: 19px;
  font-weight: bold;
  color: #396B9E;
  text-shadow: 1px 0 black;
}

.hero-unit h1 {
  font-size: 36pt;
}

.hero-unit p {
  color: #777;
  padding-top: 16px;
}

#text {
  margin-top: 160px;
  max-width: 640px;
}

#text p {
  text-align: justify;
}

